@import url('http://fonts.googleapis.com/css?family=Roboto');
.container-top {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    margin: -15px;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    margin-left: 250px;
    display: flex;
    font-size:16px;
    font-weight: 1000;
    font-family: Roboto;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 16px;
    margin-right: 250px;
    font-weight: 300;
}

.title {
    display: flex;
    font-family: Roboto;
    gap: 16px;
    margin-bottom: 150px;
}

.left-title {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    max-width: 400px;
}

.title-title {
    font-size: 48px;
    font-weight: bolder;
}

.subtext {
    color: gray;
    font-size: 15px;
}

.title-sign {
    color: white;
    padding: 15px;
    background-color: #3882F6;
    font-size: 18px;
    max-width: 120px;
    max-height: 8px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: -10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.placeholder {
    margin-left: auto;
    margin-right: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 80px 100px;
    background-color: gray;
}


.images {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 400px;
}

.title-two {
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: bolder;
}
.img-subtext {
    display: flex;
    gap: 60px;
    margin-top: 80px;
    color: gray;
}

.img {
    text-align: center;
    font-size: 22px;
    max-width: 230px;
}

.box {
    min-height:190px;
    min-width: 110px;
    border: solid #3882F6;
    border-radius:10px ;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    text-align: left;
    background-color: #E5E7EB;
    padding:150px 400px;

}


.author {
    text-align: right;
}

.ad {
    display: flex;
    padding: 40px;
    min-height: 30px;
    max-height: 30px;
    margin: 50px;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    flex-direction: row;
    color: lightgrey;
    font-family: Roboto;
    margin-left: 350px;
    margin-right: 350px;
}

.product {
    display: flex;
    flex-direction: column;
}
.action {
    color: white;
    font-weight: bold;
}

.sign-up {
    display: flex;
    flex-direction:row ;
    margin-left:auto ;
    margin-right: 100px;   
    border: 2px solid white;
    padding:10px 30px;
    border-radius:10px;
    align-items: center;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding:35px 50px;
    margin: -15px;
    justify-content: center;
}